* {
  font-family: helvetica;
}

.centerColumn {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;

  flex-direction: column;
}

.card {
  width: 600px;
  border: 1px solid blue;
}

.bar {
  background-color: lightblue;
  padding: 16px;
  font-size: 2rem;
  margin: 0;
  color: white;
}

.body {
  /* padding: 1rem; */
  margin: 0;
  max-height: 0px;
  /* transition: max-height 0.1s;
  transition: margin 1s; */
  overflow: hidden;
}

.bodyExpand {
  animation: expand 1s;
  animation-fill-mode: forwards;
}

@keyframes expand {
  from {
    max-height: 0px;
    margin: 0;
  }
  to {
    max-height: 120px;
    margin: 1rem;
  }
}

@keyframes collapse {
  from {
    max-height: 120px;
    margin: 1rem;
  }
  to {
    max-height: 0;
    margin: 0;
  }
}
